@charset "UTF-8";
@import "./src/index.scss";
.loginContentWrapper {
  background-image: url("https://picsum.photos/1200/600");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  opacity: 0.5;
  display: block;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // margin-top: -30px;
  .title {
    color: rgb(53, 53, 53);
    font-size: 29px;
    text-align: center;
    font-weight: bold;
  }

  .main {
    width: 480px;
    margin: auto;
    vertical-align: middle;
    align-content: center;
    border-radius: 30px;
    background-color: rgba(181, 181, 181, 0.8);
    padding: 20px;

    .inputArea {
      align-content: center;
      vertical-align: middle;
      margin: auto;

      .inputId {
        vertical-align: middle;
        margin: 5%;
      }

      .inputPw {
        vertical-align: middle;
        margin: 5%;
      }

      input {
        width: 100%;
        height: 45px;
        border-radius: 38px;
        border: none;
        margin: 3px;
        padding-left: 10px;
        border: none;
      }
    }

    .loginBtn {
      height: 12%;
      margin-top: 3px;
      margin-bottom: 3px;
      vertical-align: middle;
      div {
        height: 54%;
        text-align: center;
        vertical-align: middle;
        margin: 1%;
        padding: 0 5%;

        button {
          text-align: center;
          vertical-align: middle;
          height: 45px;
          width: 100%;
          border-radius: 38px;
          border: none;
          background-color: #4e4e4e;
          color: white;
        }

        button:hover {
          cursor: pointer;
          background-color: gray;
        }
      }
    }

    .social {
      height: 25%;
      padding: 20px;
      width: 100%;

      div {
        font-weight: bold;
      }

      hr {
        width: 100%;
        border: none;
        border-top: dashed 1px;
      }

      .btnCarrier {
        display: flex;
        justify-content: space-around;

        img:hover {
          cursor: pointer;
        }
      }
    }

    .userAccess {
      padding: 3%;
      height: 10%;
      margin-top: 3px;
      margin-bottom: 3px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .signupBtn a {
        @include commonA(white);
      }

      .signupBtn a:hover {
        @include commonAHover(gray, white);
      }
    }
  }
}

@include tablet {
}

@include mobile {
  .content {
    width: 100%;

    .main {
      width: 90%;

      .inputArea {
        input {
          width: 90%;
        }
      }
      .inputIdBtn {
        font-size: x-small;
      }

      .loginBtn button {
        width: 90%;
      }

      .social .btnCarrier {
        flex-direction: column;
      }

      .userAccess {
        flex-direction: column;
      }
    }
  }
}
