.menuBar {
  width: 200px;
  min-height: 800px;
  height: 100vh;
  background-color: #16193c;
  color: white;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}
.logo {
  padding: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  h2 {
    font-size: 2.5em;
  }
}
.menuContent {
  a {
    color: white;
    text-decoration: none;
  }
  .menuButton {
    width: 200px;
    padding: 20px;
    background-color: #16193c;
    border: none;
  }
  .goService {
    position: absolute;
    bottom: 20px;
  }
}

.content {
  position: absolute;
  left: 200px;
  padding: 80px;
  min-width: 790px;
  min-height: 800px;

  .title {
    font-weight: bold;
  }

  .settingContents {
    margin-top: 40px;
    .createInput {
      display: flex;
      padding: 20px;
      h5 {
        font-weight: bold;
        margin-bottom: 20px;
      }
      .dishInput {
        margin-right: 50px;
      }
      .courseInput {
        width: 300px;
        select {
          min-width: 184px;
        }
      }
      .roomInput {
        width: 300px;
      }

      .inputLabel {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
      }
      #select {
        min-width: 184px;
      }
    }
    .createBtn {
      float: right;
      width: 70px;
      height: 30px;
      margin: 10px;
      border-radius: 10px;
    }

    .delete {
      .deleteSearch {
        .searchInput {
          display: flex;
          justify-content: center;
          .searchLabel {
            width: 450px;
            input {
              margin-left: 50px;
              width: 300px;
            }
          }
          .searchBtn {
            font-size: 0.9em;
            width: 60px;
            border: none;
            background-color: #16193c;
            color: white;
            border-radius: 4px;
            &:hover {
              background-color: azure;
              color: #16193c;
              border: 1px solid #16193c;
              font-weight: bold;
            }
          }
        }
        .searchList {
          display: grid;
          justify-items: center;
          max-height: 300px;
          overflow: scroll;
          .searchItem {
            display: flex;
            width: 500px;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
          }
          .deleteBtn {
            font-size: 0.9em;
            width: 50px;
            border-radius: 4px;
            border: none;
            background-color: #282b4b;
            color: white;
          }
        }
      }
    }

    .findAll {
      .userList {
        padding: 20px;
        max-height: 300px;
        overflow: scroll;
        display: grid;
        justify-items: center;
        .user {
          display: flex;
          width: 600px;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5px;
          span {
            max-width: 100px;
          }
        }
      }
      .selectInput {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        .select {
          width: 180px;
        }
        input {
          border: 1px solid rgb(177, 177, 177);
          outline: none;
          border-radius: 5px;
          color: gray;
        }
      }
      .outputWithBtn {
        padding: 30px;
        padding-top: 0px;
        .submitDiv {
          float: right;
          .submitBtn {
            display: inline-block;
            width: 160px;
            height: 35px;
          }
        }
        .remainSeatsOutput {
          margin-left: 10px;
          float: left;
          text-align: center;
          color: brown;
        }
      }

      .reservationList {
        max-height: 500px;
        overflow: scroll;
        display: grid;
        justify-items: center;
        .reservation {
          display: flex;
          width: 700px;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5px;
          span {
            max-width: 100px;
          }
        }
      }

      .orderList {
        padding: 20px;
        max-height: 700px;
        overflow: scroll;
        display: grid;
        justify-items: center;
        .order {
          display: flex;
          min-width: 600px;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5px;
          .statusUpdateBtn {
            margin-left: 20px;
          }
        }
      }
    }

    .deleteAll {
      display: flex;
      justify-content: space-around;
      align-items: center;
      button {
        margin-left: 20px;
      }
    }

    Button {
      border-radius: 5px;
      border: none;
      background-color: #16193c;
      color: white;
      font-size: 0.9em;
      &:hover {
        background-color: azure;
        color: #16193c;
        border: 1px solid #16193c;
        font-weight: bold;
      }
    }
  }
}
