@import "./src/index.scss";
.container {
  background-image: url("https://picsum.photos/1200/600");
  background-size: cover;
  background-repeat: no-repeat;

  header {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px gray;
    padding: 80px;
    width: 60%;
    margin: 0 auto;
  }
  .singleQuestionBox,
  .eventBox {
    text-align: center;
    padding-bottom: 100px;
    > div:first-child {
      width: 900px;
      display: inline-block;
    }
    .table {
      // display: flex;
      background-color: white;
      // display: table;
      .thead > div {
        display: flex;
        flex-wrap: nowrap;
        flex: 1;
        justify-content: space-between;
        background-color: rgb(78, 78, 78);
        color: white;
        padding: 15px;
        div {
          display: flex;
          flex: 1;
          justify-content: center;
        }
        div:nth-child(2) {
          flex: 3;
          // width: 40%;
          // width: 40%;
        }
      }
      .tbody {
        a {
          text-decoration: none;
          color: black;
        }
        > a > div {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          border-bottom: 1px solid gray;
          padding: 15px;
          &:hover {
            color: rgb(171, 179, 228);
          }
          div {
            display: flex;
            flex: 1;
            justify-content: center;
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
          div:nth-child(2) {
            // width: 40%;
            flex: 3;
            //3줄을 넘어가먄 ellipsis
          }
        }
      }
    }
    .eventPost {
      background-color: white;
    }
    .btn {
      a,
      button {
        @include whiteButton;
      }
    }
  }
  .singleQuestionBox {
    form {
      .firstLine {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 15px;
        .inputBox {
          text-align: left;
          width: 70%;
        }

        .faqInput {
          //공개 비공개가 없는 faq의 제목 input
          width: 95%;
        }
        .checkBox {
          width: 20%;
        }
      }
      .formBox {
        input[type="text"] {
          width: 93%;
          height: 50px;
          padding-right: 60px; //글자 수 공간
        }
        textarea {
          width: 90%;
          height: 30vh;
          overflow: scroll;
        }
        .textareaLabel {
          position: relative;
          top: calc(-30vh + 21px);
        }
        span,
        label {
          color: white;
          // padding: 3px;
        }
        input[type="text"],
        textarea {
          background-color: white;
          border-radius: 10px;
          outline: none;
          border: 1px solid rgb(132, 132, 133);
        }
      }
      p {
        //글자수
        color: gray;
        font-size: 12px;
      }
      .titleCounter {
        margin-left: -11%;
        margin-top: 15px;
      }
      .contentCounter {
        margin-left: 85%;
        margin-top: -30px;
      }
    }
  }
}
@include tablet {
  .container {
    header {
      text-align: center;
      color: white;
      text-decoration: 1px 1px 1px gray;
      padding: 60px;
      width: 80%;
      margin: 0 auto;
    }

    .eventBox {
      > div:first-child {
        width: 90% !important;
      }
    }
  }
  .eventBox {
    padding-bottom: 100px;
    .table {
      margin: 0 auto;
      .thead > div {
        div:nth-child(2) {
          // width: 40%;
          width: 30%;
        }
      }
      .tbody > div {
        div:nth-child(2) {
          // width: 40%;
          width: 40%;
        }
      }
    }
  }
  .singleQuestionBox {
    form {
      .firstLine {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start !important;
        .inputBox {
          width: 100% !important;
          margin-left: 5%;
          margin-bottom: 15px;
          label {
            display: block;
          }
        }
        .checkBox {
          width: 100% !important;
        }
      }
      .formBox {
        width: 100%;
        input[type="text"] {
          width: 90% !important;
        }
        textarea {
          margin-left: -1%;
        }
        .textareaLabel {
          top: 0 !important;
          display: block;
          text-align: start;
          width: 70%;
          margin-left: 5%; //(100-90*90)/2 - 글자 크기
        }
      }
    }
  }
}
@include mobile {
  .container {
    header {
      text-align: center;
      color: white;
      text-decoration: 1px 1px 1px gray;
      padding: 40px;
      width: 95%;
      margin: 0 auto;
    }
    .eventBox {
      > div:first-child {
        width: 95% !important;
      }
    }
    .accordionBox {
      text-align: center;
    }
  }
  .eventBox {
    padding-bottom: 100px;
    .table {
      margin: 0 auto;
      .thead > div {
        div:nth-child(2) {
          // width: 40%;
          width: 30%;
        }
      }
      .tbody > div {
        div:nth-child(2) {
          // width: 40%;
          width: 40%;
        }
      }
    }
  }
  .singleQuestionBox {
    form {
      width: 100% !important;
      .firstLine {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start !important;
        .inputBox {
          width: 100% !important;
          margin-left: 3%;
          margin-bottom: 15px;
          label {
            display: block;
          }
        }
        .checkBox {
          width: 100% !important;
        }
      }
      .formBox {
        width: 100%;
        input[type="text"] {
          width: 90% !important;
        }
        textarea {
          margin-left: -5%;
        }
        .textareaLabel {
          top: 0 !important;
          display: block;
          text-align: start;
          width: 70%;
          margin-left: 3%; //(100-90*90)/2 - 글자 크기와패딩
        }
      }
    }
  }

  .titleCounter {
    margin-left: -15% !important;
    margin-top: 15px;
  }
  .contentCounter {
    margin-left: 83% !important;
    margin-top: -30px;
  }
}
