@import "./src/index.scss";
.container {
  width: 100%;
  min-height: 75.5vh;
  > header {
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: 1px 1px 1px gray;
    object-fit: cover;
    .react-parallax-content {
      width: 100%;
    }
  }

  .eventBox {
    padding: 70px 10% 40px 10%;
    text-align: center;
    .event {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      // background-color: white;
      .singleEvent {
        display: inline-block;
        width: 300px;
        height: 400px;
        margin: 10px;
        overflow: hidden;
        // border-radius: 15px;
        background-color: white;
        text-decoration: none;
        color: gray;
        img {
          width: 300px;
          height: 300px;
          object-fit: cover;
        }
        .eventContent {
          height: 400px;
          background-color: white;
          &:hover {
            filter: brightness(0.2);
            transition: all ease 0.5s 0s;
          }
          .title {
            font-size: 24px;
            @include overflowLine(250px, 1);
          }
          .date {
            display: block;
          }
        }
        div:nth-child(2) {
          // border-radius: 0 0 15px 15px;
          border: 1px solid rgb(189, 189, 189);
          border-top: none;
          height: 100px;
          padding: 5px;
        }
        .shortcut,
        .description {
          display: none;
          position: relative;
          width: 100%;
          text-align: center;
          @include commonA(white);
        }
        &:hover .shortcut {
          display: inline-block;
          height: 60px;
          top: -60px;
          line-height: 50px;
          background-color: rgb(1, 4, 48);
          font-weight: 300;
          font-size: 16px;
          text-align: center;
        }
        &:hover .description {
          display: inline-block;
          @include overflowLine(280px, 1);
          top: -315px;
          font-size: 24px;
        }
      }
    }
  }
  .btn {
    a,
    button {
      @include buttonBox(black);
    }
  }
}
//이벤트 포스트
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  .banner {
    width: 50%;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .contents {
    width: 50%;
    text-align: center;
    h2 {
      text-shadow: 4px 1px 1px #cbc5c5;
    }
    .details {
      padding: 5px;
      margin: 5%;
      width: 90%;
      border: 1px solid gray;
    }
  }
}

//이벤트 생성
.eventBox {
  text-align: center;
  padding-bottom: 100px;
  > div:first-child {
    width: 900px;
    display: inline-block;
  }
  form {
    .firstLine {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .inputBox {
        text-align: left;
      }

      .faqInput {
        //공개 비공개가 없는 faq의 제목 input
        width: 95%;
      }
      .checkBox {
        width: 20%;
      }
    }
    .formBox {
      margin-bottom: 15px;
      input[type="text"] {
        width: 93%;
        height: 50px;
        padding-right: 60px; //글자 수 공간
      }
      textarea {
        width: 90%;
        height: 30vh;
        overflow: scroll;
      }
      .textareaLabel {
        position: relative;
        top: calc(-30vh + 21px);
      }
      input[type="text"],
      textarea {
        background-color: white;
        border-radius: 10px;
        outline: none;
        border: 1px solid rgb(132, 132, 133);
      }
    }
    p {
      //글자수
      color: gray;
      font-size: 12px;
    }
    .titleCounter {
      margin-left: -17%;
      margin-top: 15px;
    }
    .contentCounter {
      margin-left: 85%;
      margin-top: -30px;
    }
  }
}
@include tablet {
  .eventBox {
    padding: 70px 5% 40px 5%;
    > div:first-child {
      width: 100%;
    }
    form {
      .firstLine {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start !important;
        .inputBox {
          width: 100% !important;
          margin-left: 5%;
        }
        .checkBox {
          width: 100% !important;
        }
        .titleLabel {
          display: block;
        }
      }
      .formBox {
        width: 100%;
        input[type="text"] {
          width: 90% !important;
        }
        .imgLabel {
          display: block;
          text-align: start;
          margin-left: 5%;
        }
        textarea {
          margin-left: -1%;
        }
        .textareaLabel {
          top: 0 !important;
          display: block;
          text-align: start;
          width: 70%;
          margin-left: 5%; //(100-90*90)/2 - 글자 크기
        }
      }
    }
  }
  //이벤트 포스트
  .main {
    flex-direction: column;
    h1 {
      padding: 30px;
    }
    .banner {
      width: 50%;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .contents {
      width: 50%;
      text-align: center;
      h2 {
        text-shadow: 4px 1px 1px #cbc5c5;
      }
    }
  }
}
@include mobile {
  .eventBox {
    padding: 70px 5% 40px 5%;
    > div:first-child {
      width: 100%;
    }
    form {
      width: 100% !important;
      .firstLine {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start !important;
        .inputBox {
          width: 100% !important;
          margin-left: 3%;
          .titleLabel {
            display: block;
          }
        }
        .checkBox {
          width: 100% !important;
        }
      }
      .formBox {
        width: 100%;
        input[type="text"] {
          width: 90% !important;
        }
        .imgLabel {
          display: block;
          text-align: start;
          margin-left: 5%;
        }
        textarea {
          margin-left: -5%;
        }
        .textareaLabel {
          top: 0 !important;
          display: block;
          text-align: start;
          width: 70%;
          margin-left: 3%; //(100-90*90)/2 - 글자 크기와패딩
        }
      }
    }
  }

  .titleCounter {
    margin-left: -23% !important;
    margin-top: 15px;
  }
  .contentCounter {
    margin-left: 72% !important;
    margin-top: -30px;
  }
  //이벤트 포스트
  .main {
    flex-direction: column;
    .banner {
      width: 100%;
    }
    .contents {
      width: 100%;
      padding: 10px;
      text-align: center;
    }
  }
}
