@import "./src/index.scss";
.container {
  width: 100%;
  height: 83vh;
  overflow: auto;
  scroll-snap-type: y mandatory; //스크롤 다운하면 알아서 넘어감
  > header {
    text-align: center;
    color: white;
    text-decoration: 1px 1px 1px gray;
    margin-bottom: 50px;
  }
}
.page {
  scroll-snap-align: center;
  display: inline-block;
  width: 100%;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  > div {
    display: inline-block;
    width: 30%;
    height: 67vh;
    padding: 50px;
    background-color: #f8f4e7;
    text-align: center;
    box-shadow: 5px 5px 30px rgb(65, 64, 64);
    ul {
      list-style: none;
      padding-left: 0;
      a {
        color: black;
        text-decoration: none;
      }
      a:hover {
        color: #424566;
        font-weight: bold;
      }
      li {
        padding: 10px;
      }
    }
    hr {
      width: 80%;
      color: black;
      margin: 2rem auto;
      opacity: 1;
    }
  }
}
.page1 {
  background-image: url("https://picsum.photos/1200/600");
  background-size: cover;
  background-repeat: no-repeat;
}
.page2 {
  background-image: url("https://picsum.photos/1200/900");
  background-size: cover;
  background-repeat: no-repeat;
}
.page3 {
  background-image: url("https://picsum.photos/1200/700");
  background-size: cover;
  background-repeat: no-repeat;
}
.dotForNav {
  position: absolute;
  bottom: 45vh;
  color: white;
  font-size: 32px;
  right: 5%;
  display: flex;
  flex-direction: column;
  a {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    margin: 5px;
    box-shadow: 2px 2px 2px gray;
    color: white;
    background-color: #424566;
    text-decoration: none;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
::-webkit-scrollbar {
  display: none;
}
@include tablet {
  .page > div {
    width: 50%;
  }
}

@include mobile {
  .page > div {
    width: 80%;
    hr {
      width: 80%;
      color: black;
      margin: 1rem auto;
      opacity: 1;
    }
  }
}
