.header-container {
  width: 100%;
  background-color: #16193c;
  position: fixed !important;
  top: 0;
  z-index: 1000;
  width: 100%;
  span {
    color: white;
    opacity: 0.5;
  }
}
.header-empty-space {
  height: 7vh;
  width: 100%;
}
// .header {

//   &-container {
//     width: 100%;
//     min-height: 81px;
//     vertical-align: middle;
//     color: white;
//     background-color: #16193c;
//   }

//   &-content {

//     &-title {
//       font-family: 'Parisienne', cursive;
//       display: inline-block;
//       width: 50%;
//       text-align: left;
//       vertical-align: middle;

//       &-logo {
//         display: inline-block;
//         width: 20%;
//         min-width: 90px;
//         text-align: center;
//         vertical-align: middle;
//         padding-left: 20px;

//         &-h1 {
//           font-size: 36px;
//         }

//         &-h1:hover {
//           cursor: pointer;
//         }

//         &-h1 a {
//           text-decoration: none;
//           color: white;
//         }

//       }

//     }

//   }

// }

/*
  .header-container {
    width: 100%;
    min-height: 81px;
    vertical-align: middle;
    color: white;
    background-color: #16193c;
  }
  
  .header-content-title{
    font-family: 'Parisienne', cursive;
    display: inline-block;
    width: 50%;
    text-align: left;
    vertical-align: middle;
  }
  
  .header-content-title-logo{
    display: inline-block;
    width: 20%;
    min-width: 90px;
    text-align: center;
    vertical-align: middle;
    padding-left: 20px;
  }

  .header-content-title-logo-h1{
    font-size: 36px;
  }
  
    .header-content-title-logo-h1:hover{
      cursor: pointer;
    }

    .header-content-title-logo-h1 a{
        text-decoration: none;
        color: white;
    }
      */
