@import "./src/index.scss";
.firstLine {
  > div:first-child {
    input {
      width: calc(99% - 45px) !important;
    }
    width: 70%;
    display: inline-block;
  }
  > div:nth-child(2) {
    width: 25%;
    display: inline-block;
  }
}
@include tablet {
  .firstLine {
    > div:first-child {
      input {
        width: calc(98.5% - 45px) !important;
      }
      width: 70%;
      display: inline-block;
    }
    > div:nth-child(2) {
      width: 25%;
      display: inline-block;
    }
  }
}
@include mobile {
  .firstLine {
    > div:first-child {
      input {
        width: 90%;
      }
      width: 99%;
      display: inline-block;
    }
    > div:nth-child(2) {
      width: 90%;
      display: inline-block;
    }
  }
}
