@import "./src/index.scss";
.footer {
  background-color: #16193c;
  width: 100%;
  height: 17vh;
  display: flex;
  align-items: center;

  &-content {
    color: gainsboro;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
  }
  &-content a {
    font-weight: bold;
  }
  &-copyright,
  &-contact {
    float: right;
    width: 260px;
  }
  &-copyright a {
    width: 100%;
    display: inline-block;
  }
  &-links {
    text-decoration: none;
    color: gainsboro;
    text-align: center;
    vertical-align: middle;
  }

  &-links:hover {
    text-decoration: underline;
  }
}

.content-vertical-line {
  height: 85%;
  width: 1px;
  border-left: thin solid gainsboro;
}
@include mobile {
  .footer {
    &-content {
      flex-direction: column;
    }
    &-copyright {
      display: inline-block;
      width: 100%;
    }
  }
  .content-vertical-line {
    display: none;
  }
}
