  .footer {
    background-color: #16193c;
    width: 100%;
    height: 17vh;
    display: flex;
    align-items: center;
  }

  .footer-content{
    color: gainsboro;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
  }
  
  .footer-copyright, .footer-contact{
    float: right;
    width: 260px;
  }
  
  .footer-contact{
    float: left;
  }
  
  .footer-links{
    text-decoration: none;
    color: gainsboro;
    text-align: center;
    vertical-align: middle;
  }
  
  .footer-links:hover{
    text-decoration: underline;
  }

  .content-vertical-line{
    height: 85%;
    width: 1px;
    border-left : thin solid gainsboro;
  }