@import "./src/index.scss";
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  .banner {
    width: 50%;
    img {
      width: 100%;
      height: 90vh;
      object-fit: cover;
    }
    h1 {
      color: white;
      position: absolute;
      top: calc(100vh / 2);
      left: 25%;
      text-shadow: 1px 1px 1px gray;
      font-weight: 100;
      font-size: 45px;
      transform: translate(-50%, -50%);
    }
  }
  .contents {
    width: 50%;
    text-align: center;
    h2 {
      text-shadow: 4px 1px 1px #cbc5c5;
    }
    //리모콘
    .fixedBox {
      position: fixed;
      top: 150px;
      right: 5%;
      z-index: 1;
      padding: 10px;
      border-radius: 6px;
      color: #16193c;
      text-align: left;
      display: flex;
      ul {
        list-style: none;
        padding-left: 0;
        a {
          text-decoration: none;
        }
      }
    }
    .rightside {
      ul {
        display: flex;
        flex-direction: column;
        li {
          height: 30px;
          width: 120px;
          a {
            color: #16193c;
            text-shadow: 2px 2px 1px white;
          }
          a:hover {
            color: #676b91;

            font-weight: bold;
            font-size: 18px;
          }
        }
      }
    }
    .fixedBox.upside {
      width: 100%;
      top: 45px;
      right: 0;
      border-radius: 0;
      text-align: center;
      margin: 0 auto;
      background-color: #16193c;
      justify-content: space-around;
      a {
        color: white;
      }
      ul {
        margin: 0;
        li {
          margin: 10px;
          float: left;
        }
      }
    }
    //editProfile 페이지
    .editProfile {
      .inputArea {
        align-content: center;
        vertical-align: middle;
        margin: auto;
        margin-top: 3px;
        margin-bottom: 3px;
        padding: 5%;

        .inputId,
        .inputNickname,
        .inputPassword {
          margin-bottom: 30px;
        }

        :is(.inputNickname, .inputPassword) div {
          justify-content: center;
        }
        input {
          height: 55px;
          width: 50%;
          padding-left: 10px;
          border: 1.4px solid black;
          outline: none;
        }
        :is(.inputNickname, .inputPassword) button {
          border-radius: 10px;
          position: absolute;
          background-color: white;
          border: 1px solid gray;
          position: absolute;
          right: 15%;
          margin-top: 14px;
        }
        p {
          font-size: 12px;
          color: red;
          text-align: center;
          padding-left: 8px;
          margin-bottom: 0px;
        }
        input:disabled {
          background: #d4d4d4;
          border: none;
        }
      }
    }
    //reservation페이지
    .reservation {
      .list {
        list-style: none;
        padding-left: 0;
        margin-top: 50px;
        hr {
          width: 60%;
          margin: 0 auto;
        }
        li {
          height: 70px;
          overflow: hidden;
          margin: 12px;
          img {
            width: 70px;
            height: 70px;
            border-radius: 50px;
            margin-top: -24px;
          }
          .listSpan {
            width: 300px;
            display: inline-block;
            height: 60px;
            padding: 10px;
            span {
              padding: 5px;
            }
          }
        }
      }
    }
    .pagination {
      ul {
        justify-content: center !important;
      }
    }
  }
}
@include tablet {
  .main {
    display: flex;
    flex-direction: column;
    height: auto;
    .banner {
      width: 100%;
      height: 300px;
      img {
        height: 100%;
      }
      h1 {
        top: 233px;
        left: 50%;
        font-size: 32px;
      }
    }
    .contents {
      width: 100%;
      height: 700px;
      padding: 10%;
      .editProfile {
        .inputArea {
          button {
            right: 20% !important;
          }
          input {
            width: 90%;
          }
        }
      }
    }
  }
}
@include mobile {
  .main {
    display: flex;
    flex-direction: column;
    height: auto;
    .banner {
      width: 100%;
      height: 200px;
      img {
        height: 100%;
      }
      h1 {
        top: 150px;
        left: 50%;
        font-size: 24px;
      }
    }
    .contents {
      width: 100%;
      height: 600px;
      padding: 3%;
      padding-top: 45px;
      .editProfile {
        .inputArea {
          button {
            right: 16% !important;
          }
          input {
            width: 90%;
          }
        }
      }
    } //reservation페이지
    .reservation {
      margin-bottom: 100px;
      .list {
        list-style: none;
        padding-left: 0;
        width: 98%;
        hr {
          width: 90% !important;
        }
        li {
          height: 70px;
          overflow: hidden;
          margin: 12px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: flex-end;
          justify-content: flex-end;
          align-items: flex-end;
          width: 100%;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            margin-top: 0;
          }
          .listSpan {
            width: 90% !important;
            display: inline-block;
            height: 60px;
            padding: 0;
            span {
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
