@import "./src/index.scss";
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  .banner {
    width: 50%;
    img {
      width: 100%;
      height: 90vh;
      object-fit: cover;
    }
    h1 {
      color: white;
      position: absolute;
      top: calc(100vh / 2);
      left: 25%;
      text-shadow: 1px 1px 1px gray;
      font-weight: 100;
      font-size: 45px;
      transform: translate(-50%, -50%);
    }
  }
  .contents {
    width: 50%;
    text-align: center;
    h2 {
      text-shadow: 4px 1px 1px #cbc5c5;
    }
    //리모콘
    .fixedBox {
      position: fixed;
      top: 150px;
      z-index: 1;
      padding: 10px;
      border-radius: 6px;
      color: #16193c;
      text-align: center;
      display: flex;
      box-shadow: 1px 1px 5px rgb(187, 187, 187);
      ul {
        list-style: none;
        padding-left: 0;
        a {
          text-decoration: none;
        }
      }
    }
    .rightside {
      left: 5%;
      height: 104px;
      ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        li {
          height: 30px;
          width: 120px;
          a {
            color: white;
            font-weight: bold;
            text-shadow: 1px 1px 2px rgb(51, 50, 50);
          }
          a:hover {
            color: #676b91;

            font-weight: bold;
            font-size: 18px;
          }
        }
      }
    }
    .fixedBox.upside {
      width: 100%;
      top: 45px;
      right: 0;
      border-radius: 0;
      text-align: center;
      margin: 0 auto;
      background-color: #16193c;
      justify-content: space-around;
      a {
        color: white;
      }
      ul {
        margin: 0;
        li {
          margin: 10px;
          float: left;
        }
      }
    }
    //editProfile 페이지
    .editProfile {
      .inputArea {
        align-content: center;
        vertical-align: middle;
        margin: auto;
        margin-top: 3px;
        margin-bottom: 3px;
        padding: 5%;

        .inputId,
        .inputNickname,
        .inputPassword {
          margin-bottom: 30px;
        }

        :is(.inputNickname, .inputPassword) div {
          justify-content: center;
        }
        input {
          height: 55px;
          width: 50%;
          padding-left: 10px;
          border: 1.4px solid black;
          outline: none;
        }
        :is(.inputNickname, .inputPassword) button {
          border-radius: 10px;
          position: absolute;
          background-color: white;
          border: 1px solid gray;
          position: absolute;
          right: 15%;
          margin-top: 14px;
        }
        p {
          font-size: 12px;
          color: red;
          text-align: center;
          padding-left: 8px;
          margin-bottom: 0px;
        }
        input:disabled {
          background: #d4d4d4;
          border: none;
        }
      }
    }
    //reservation페이지
    .reservation {
      .list {
        list-style: none;
        padding-left: 0;
        margin-top: 50px;
        hr {
          width: 50%;
          margin: 0 auto;
        }
        li {
          overflow: hidden;
          margin: 12px;
          img {
            width: 240px;
            height: 240px;
            border-radius: 150px;
          }
          .listSpan {
            display: block;
            padding: 30px;
            span {
              padding: 5px;
            }
          }
        }
      }
      .today {
        // background-color: #b4b4b6;
        // color: white;
        img {
          border: 5px solid salmon;
        }
        .listSpan p:first-child span {
          color: salmon;
        }
      }
    }
    //ordered 페이지
    .ordered {
      height: auto;
      margin-top: -15px;
      .list {
        list-style: none;
        padding-left: 0;
        margin-top: 50px;
        li {
          overflow: hidden;
          .listSpan {
            padding: 10px;
            overflow: hidden;
            max-height: 65vh;
            h3 {
              color: rgb(93, 93, 97);
            }
            ul {
              overflow: scroll;
              // border: solid 1px rgb(201, 201, 201);
              border-radius: 30px;
              max-height: 50vh;
              width: 95%;
              li {
                display: inline-block;
                width: 300px;
                margin: 5px;
                border: 1px solid rgb(197, 194, 194);
                &:hover img {
                  transform: scale(1.4);
                }
                a {
                  color: black;
                  text-decoration: none;
                  display: flex;
                  // justify-content: space-between;
                  justify-content: flex-start;
                  align-items: center;
                  .dishList {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    padding: 10px;
                    i {
                      font-size: 18px;
                    }
                  }
                }
                .imgContainer {
                  width: 100px;
                  height: 100px;
                  overflow: hidden;
                  img {
                    width: 100px;
                    height: 100px;
                    transition: all 0.2s linear;
                    // border-radius: 150px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .pagination {
    justify-content: center !important;
    margin-top: 10px;
  }
  //주문내역 없음
  .noList {
    a {
      @include commonA(#676b91);
      background-color: white;
      border-radius: 10px;
      margin-bottom: 30px;
    }
    a:hover {
      @include commonAHover(#676b91, white);
    }
  }
}
@include tablet {
  .main {
    display: flex;
    flex-direction: column;
    height: auto;
    .banner {
      width: 100%;
      height: 300px;
      img {
        height: 100%;
      }
      h1 {
        top: 233px;
        left: 50%;
        font-size: 32px;
      }
    }
    .contents {
      width: 100%;
      // height: 700px;
      padding: 10%;
      .editProfile {
        .inputArea {
          button {
            right: 20% !important;
          }
          input {
            width: 90%;
          }
        }
      }
    }
  }
}
@include mobile {
  .main {
    display: flex;
    flex-direction: column;
    height: auto;
    .banner {
      width: 100%;
      height: 200px;
      img {
        height: 100%;
      }
      h1 {
        top: 150px;
        left: 50%;
        font-size: 24px;
      }
    }
    .contents {
      width: 100%;
      // height: 600px;
      padding: 3%;
      padding-top: 45px;
      .editProfile {
        .inputArea {
          button {
            right: 16% !important;
          }
          input {
            width: 90%;
          }
        }
      }
    }
  }
}
